.contenedor-perfil{
  background: linear-gradient(white,orange);
}
.contenedor-imagen{
 text-align: center;
 height: 300px;
 padding: 12px;
 position: relative;

}

.img-perfil {
width: 200px;
height: 200px;
border-radius: 50%;
}


.nombre-desa{
  font-size: 2rem;
  margin-top: 5px;
  font-weight: bold;
}

.tooltips{
  display: inline-block;
}

.campos-tooltips{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.campo-info{
  color: rgb(0, 0, 0);
}
.tooltip-box{
  display: none;
  background-color: rgb(24, 167, 134);
  z-index: 100;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  right: 30%;
  top: 20%;
 
}



.tooltip-box::after{
content: "";
display: block;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-right: 15px solid red;
position: absolute;
left: -15px;
bottom: calc(60% - 15px);
}

.tooltips:hover .tooltip-box{
  display: inline-block;
}

.row{
  justify-content: space-around !important;
}
/* volver button */
.vuelta{
  margin-top: 75px;
  margin-bottom: 40px;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: #eb6440;
  color: ghostwhite;
 }
 
 button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 button:hover span {
  color: white;
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: black;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 