.body{
    
    background-color: #d6e4e5;
    margin: 1rem;
    box-shadow: 20px 20px 60px #a1a1a1,
                  -20px -20px 60px #ffffff;
 display: flex;
flex-direction: column;
min-height: 100vh;
}

.container.text-center.mx-auto{
     display: flex;
flex-direction: column;
min-height: 100vh;
}
.navbar{
    background-color: #e00b0b00 !important; 
}
.featurette-heading{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    width: 700px;
    height: 50px;
    border-radius: 50px;
    background: #497174;
    box-shadow: 10px 10px 40px #497174,
                  -20px -20px 60px #ffffff;
}

.imagen{
    margin: 0 5px 0 0;
    box-shadow: 20px 20px 60px #a1a1a1,
                  -20px -20px 60px #ffffff;
}

footer#footer{
    width: 100%;
    margin-top: auto;
    
}
.container-footer{
    margin-left: 10px;
    margin-right: 100px;
}

.icon{
    border-radius: 70%;
    width: 100%; 
    height: 100%; 
    fill: rgb(230, 104, 20);
    box-shadow: 20px 20px 60px #a1a1a1,
                  -20px -20px 60px #ffffff;
}

#pix{ 
    box-shadow: 10px 10px 40px #a1a1a1,
                  -20px -20px 60px #ffffff;
}
/* .col-md-5{
    box-shadow: 20px 20px 60px #a1a1a1,
                  -20px -20px 60px #ffffff;
} */

/* BUTTON */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #497174;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }