.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(72,78,85,.6);
    background-color: #D6E4E5;
}

.card {
    transition: transform .5s;

}

.enlace:hover {

    color: #1f2029;
}

.enlace {
    color: #497174;
    text-decoration: none;

}

.circulo {
    clip-path: circle(50% at 50% 50%);
    width: 70px;
    height: 70px;
}

footer{
    margin-top: 5rem;
}

/* volver button */
.vuelta{
    margin-top: 75px;
    margin-bottom: 40px;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #eb6440;
    color: ghostwhite;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: white;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: black;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   