<footer th:fragment="footer" class="text-white" style="background: #ca4406;">
      <div class="container-fluid p-2">
        <div class="row ">
          <div class="col-lg-1 col-md-12 mb-4 mb-md-0 d-flex justify-content-center align-items-center ">
              <img src="../../Img/Bandera.jpg" alt="" style="width: 100%;">
          </div>
          <div class="col-lg-6 col-10 mb-4 mb-md-0 mt-5">
            <h5 class="text-uppercase">CONOCE NUESTRA PROPUESTA</h5>
  
            <p>
              El equipo de trabajo de TRIBUTAPP orientará a los DESARROLLADORES  que lo requieran en el asesoramiento necesario contable, marketing y diversas herramientas
              en pos de mejorar la rentabilidad de su negocio.
            </p>
          </div>

          <div class="col-lg-1 col-6 mb-4 m-lg-3 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-1 col-6 mb-4 m-lg-3 mb-md-0">
            <h5 class="text-uppercase mb-0">Links</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>

        </div>

      </div>

      <div class="text-center p-1" style="background-color: rgba(235, 94, 7, 0.637);">
        <div class=" d-flex align-items-center">
        
          <div class="col-md-7 col-lg-8 text-center text-md-start">
  
            <div class="p-3">
              © 2022 Copyright:
              <a class="text-white" href="#">Grupo4.com</a>
            </div>
        </div>
        <section class="col-md-4 mb-2 mt-1  d-flex justify-content-end">

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
          ></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
      </div>

        <script src="https://kit.fontawesome.com/4a1445b54b.js" crossorigin="anonymous"></script>
    </footer>
