body {
    background-color: #497174;
}

.blogin {
    background-color: #EB6440;
    border-color:#EB6440;
}

.blogin:hover {
    background-color: #EFF5F5;
    border-color: #EB6440;
    color: #EB6440;
}

.bsignup {
    background-color:#497174;
    border-color:#497174;
    color:#EFF5F5;
}

.bsignup:hover {
    background-color:#EFF5F5;
    border-color: #497174;
    color:#497174;
}

