<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Lista de empresas</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"
            />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
            />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/styles/List.css?1.0}"
            media="all"
            />
        <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/styles/Navbar.css?1.0}"
            media="all"
            />
        
    </head>

    <body>
        <!--Navbar -->
        <nav th:replace="fragments/navbar :: nav_bar"></nav>


        <div class="container-fluid">
            <h2 class="text-center mt-5">Lista de empresas</h2>
            <table class="table position-relative mt-5">
                <thead>
                    <tr>
                        <th>
                            <form th:action="@{/empresa/busqueda}" class="position-absolute top-0 end-0">
                                <input type="search" name="param" placeholder="buscar">
                                <button type="submit">buscar</button>
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th scope="col"><strong>ID</strong></th>
                        <th scope="col"><strong>Nombre</strong></th>
                        <th scope="col"><strong>Razón Social</strong></th>
                        <th scope="col"><strong>Dirección</strong></th>
                        <th scope="col"><strong>Developers</strong></th>
                        <!--                    <th scope="col" sec:authorize="hasRole('ADMIN')" th:href="@{/empresa/modificar/__${empresas.id}__}"><strong>Acciones</strong></th>-->
                    </tr>
                </thead>
                <tbody th:each="empresa : ${empresas}">
                    <tr>
                        <td scope="row" th:text="${empresa.id}"></td>
                        <th th:text="${empresa.nombre}"></th>
                        <td scope="row" th:text="${empresa.razonSocial}"></td>
                        <th scope="row" th:text="${empresa.direccion}"></th>
                        <!--                    <td scope="row" th:text="${empresa.developers}"></td>-->
                        <th>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/empresa/modificarEmpresa/__${empresa.id}__}"><i class="fas fa-feather-alt"></i>Modificar </a>
                        </th>
                        <th>
                            <a th:href="@{/empresa/eliminarEmpresa/__${empresa.id}__}"  class="card-link">Eliminar</a>
                        </th>
                    </tr>
                </tbody>

                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mt-3 mensajeError">
                    <div class="card-body"> 
                        <h5 class="card-title">Error</h5>
                        <p class="card-text"></p>
                    </div>
                </div>

                <div th:if="${exito != null}" class="card text-white bg-succes mb-3 mt-3 mensajeExito"> 
                    <div class="card-body"> 
                        <h5 class="card-title">¡Éxito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
            </table>
        </div>

        <!--    footer-->
        <footer th:replace="fragments/footer :: footer"></footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
