<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/styles/login.css?1.0}" media="all">
  <link rel="stylesheet" th:href="@{/styles/Navbar.css?1.0}" media="all">
  <title>Document</title>
  <style type="text/css">
    @font-face {
      font-family: Roboto;
      src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
    }
  </style>
</head>

<body>

  <nav th:replace="fragments/navbar :: nav_bar"></nav>

  <div class="wrapp">

    <img class="img-imp" src="/Img/impuesto2.jpg" alt="">
  </div>
  <div class="container-grid">
    <div class="grid-item">
      <div class="pestaña">
        <p class="li activo ">Desarrollador</p>
        <p class="li">Empresa</p>
      </div>

      <div class="bloque activo">
        <div class="container-form">


          <form class="formulario" id="formulario" th:action="@{/desarrollador/cargar}" th:method="POST"
            enctype="multipart/form-data">

            <!-- Grupo: Nombre -->
            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__nombre">
                <label for="nombre" class="formulario__label">Nombre y Apellido</label>
                <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="nombre" id="nombre"
                    placeholder="ej: Santiago Tonin">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El nombre tiene que ser de 4 a 16 dígitos y solo puede contener
                  numeros, letras y guion bajo.</p>
              </div>

            </div>
            <!-- Grupo: email Electronico -->
            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__email">
                <label for="email" class="formulario__label">Email</label>
                <div class="formulario__grupo-input">
                  <input type="email" class="formulario__input" name="email" id="email"
                    placeholder="ej: email@email.com" th:value="${email}">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El email solo puede contener letras, numeros, puntos, guiones y guion
                  bajo.</p>
              </div>

            </div>

            <!-- Grupo: Contraseña -->
            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__password">
                <label for="password" class="formulario__label">Contraseña</label>
                <div class="formulario__grupo-input">
                  <input type="password" class="formulario__input" name="password" id="password" placeholder="****">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">La contraseña tiene que ser mayor 5 digitos.</p>
              </div>

            </div>
            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__password2">
                <label for="password2" class="formulario__label">Repetir Contraseña</label>
                <div class="formulario__grupo-input">
                  <input type="password" class="formulario__input" name="password2" id="password2" placeholder="****">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
              </div>

            </div>

            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__cuil">
                <label for="Cuil" class="formulario__label">Cuil(sin espacio)</label>
                <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="cuil" id="cuil" placeholder="12 12345678 1">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El Cuil solo puede contener numeros y el maximo son 11 dígitos.</p>
              </div>
            </div>

            <div class="mb-3 radio-boton">

              <input type="radio" name="contratacion" value="1" id="free" checked="checked">
              <label class="radio-label" for="free">Freelance</label>
              <input type="radio" name="contratacion" value="2" id="depen">
              <label class="radio-label" for="depen">Relacion de Dependencia</label>

            </div>

            <div class="mb-3">
              <input type="file" class="form-control" placeholder="Foto" name="foto">
            </div>

            <div th:if="${ Error != null}">
              <p th:text="${Error}" style="font-size: medium; text-align: left; color:red;"></p>
            </div>

            <button class="btnLogin btnLogin-secondary" type="submit">Registrar</button>
          </form>
        </div>
      </div>


      <div class="bloque">
        <div class="container-form ">

          <form class="formulario" id="formulario"  th:action="@{/empresa/registroEmpresa}" th:method="POST">

            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__nombre">
                <label for="nombre" class="formulario__label">Nombre</label>
                <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="nombre" id="nombre"
                    placeholder="ej: Santiago Tonin">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El nombre tiene que ser de 4 a 16 dígitos y solo puede contener
                  numeros, letras y guion bajo.</p>
              </div>
            </div>
            <div class="mb-3">

              <div class="mb-3">

                <div class="formulario__grupo" id="grupo__nombre">
                  <label for="nombre" class="formulario__label">Razon Social</label>
                  <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="razonSocial" id="nombre"
                      placeholder="ej: alias">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                  </div>
                  <p class="formulario__input-error">Razon Social tiene que ser de 4 a 16 dígitos y solo puede contener
                    numeros, letras y guion bajo.</p>
                </div>

              </div>

              <div class="formulario__grupo" id="grupo__email">
                <label for="email" class="formulario__label">Email</label>
                <div class="formulario__grupo-input">
                  <input type="email" class="formulario__input" name="email" id="email"
                    placeholder="ej: email@email.com" th:value="${email}">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El email solo puede contener letras, numeros, puntos, guiones y guion
                  bajo.</p>
              </div>
            </div>
            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__password">
                <label for="password" class="formulario__label">Contraseña</label>
                <div class="formulario__grupo-input">
                  <input type="password" class="formulario__input" name="password" id="password" placeholder="****">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">La contraseña tiene que ser mayor 5 digitos</p>
              </div>

            </div>
            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__password2">
                <label for="password2" class="formulario__label">Repetir Contraseña</label>
                <div class="formulario__grupo-input">
                  <input type="password" class="formulario__input" name="password2" id="password2" placeholder="****">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
              </div>

            </div>

            <div class="mb-3">
              <div class="formulario__grupo" id="grupo__nombre">
                <label for="nombre" class="formulario__label">Direccion</label>
                <div class="formulario__grupo-input">
                  <input type="text" class="formulario__input" name="direccion" id="nombre"
                    placeholder="ej: Calle Falsa 123">
                  <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">La Direccion tiene que ser de 4 a 16 dígitos y solo puede contener
                  numeros, letras y guion bajo.</p>
              </div>
            </div>

            <div th:if="${ Error != null}">
              <p th:text="${Error}" style="font-size: medium; text-align: left; color:red;"></p>
            </div>

            <button class="btnLogin btnLogin-secondary" type="submit">Registrar</button>

          </form>

        </div>

      </div>
    </div>




    <!--Linea Divisoria-->
    <div class="linea grid-item"></div>

    <!--Login-->
    <div class="card ">
      <h4 class="title">Logueate</h4>
      <form th:action="@{/logincheck}" method="POST">
        <div class="field">
          <svg class="input-icon" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M207.8 20.73c-93.45 18.32-168.7 93.66-187 187.1c-27.64 140.9 68.65 266.2 199.1 285.1c19.01 2.888 36.17-12.26 36.17-31.49l.0001-.6631c0-15.74-11.44-28.88-26.84-31.24c-84.35-12.98-149.2-86.13-149.2-174.2c0-102.9 88.61-185.5 193.4-175.4c91.54 8.869 158.6 91.25 158.6 183.2l0 16.16c0 22.09-17.94 40.05-40 40.05s-40.01-17.96-40.01-40.05v-120.1c0-8.847-7.161-16.02-16.01-16.02l-31.98 .0036c-7.299 0-13.2 4.992-15.12 11.68c-24.85-12.15-54.24-16.38-86.06-5.106c-38.75 13.73-68.12 48.91-73.72 89.64c-9.483 69.01 43.81 128 110.9 128c26.44 0 50.43-9.544 69.59-24.88c24 31.3 65.23 48.69 109.4 37.49C465.2 369.3 496 324.1 495.1 277.2V256.3C495.1 107.1 361.2-9.332 207.8 20.73zM239.1 304.3c-26.47 0-48-21.56-48-48.05s21.53-48.05 48-48.05s48 21.56 48 48.05S266.5 304.3 239.1 304.3z">
            </path>
          </svg>
          <input autocomplete="off" id="logemail" placeholder="email" class="input-field" name="email" type="email">
        </div>
        <div class="field">
          <svg class="input-icon" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M80 192V144C80 64.47 144.5 0 224 0C303.5 0 368 64.47 368 144V192H384C419.3 192 448 220.7 448 256V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V256C0 220.7 28.65 192 64 192H80zM144 192H304V144C304 99.82 268.2 64 224 64C179.8 64 144 99.82 144 144V192z">
            </path>
          </svg>
          <input autocomplete="off" id="logpass" placeholder="Password" class="input-field" name="password"
            type="password">
        </div>
        <button class="btnLogin" type="submit">Login</button>
        <div th:if="${error != null}">
          <p class="msjError" th:text="${error}" style="font-size: medium;"></p>
        </div>
      </form>
    </div>

  </div>

  <nav th:replace="fragments/Footer :: footer"></nav>

  <script defer="">
    const li = document.querySelectorAll(".li")
    const bloque = document.querySelectorAll(".bloque")

    li.forEach((cadaLi, i) => {
      li[i].addEventListener("click", () => {
        li.forEach((cadaLi, i) => {
          li[i].classList.remove("activo")
          bloque[i].classList.remove("activo")
        })
        li[i].classList.add("activo")
        bloque[i].classList.add("activo")
      })
    })

  </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
    </script>
  <!-- Code injected by live-server -->
  <script>
    // <![CDATA[  <-- For SVG support
    if ('WebSocket' in window) {
      (function () {
        function refreshCSS() {
          var sheets = [].slice.call(document.getElementsByTagName("link"));
          var head = document.getElementsByTagName("head")[0];
          for (var i = 0; i < sheets.length; ++i) {
            var elem = sheets[i];
            var parent = elem.parentElement || head;
            parent.removeChild(elem);
            var rel = elem.rel;
            if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
              var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
              elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
            }
            parent.appendChild(elem);
          }
        }
        var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
        var address = protocol + window.location.host + window.location.pathname + '/ws';
        var socket = new WebSocket(address);
        socket.onmessage = function (msg) {
          if (msg.data == 'reload') window.location.reload();
          else if (msg.data == 'refreshcss') refreshCSS();
        };
        if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
          console.log('Live reload enabled.');
          sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
        }
      })();
    }
    else {
      console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }
    // ]]>
  </script>

  <script src="https://kit.fontawesome.com/4a1445b54b.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

  <script>
    var returnedSuggestion = ''
    let editor, doc, cursor, line, pos
    document.addEventListener("keydown", (event) => {
      setTimeout(() => {
        editor = event.target.closest('.CodeMirror');
        doc = editor.CodeMirror.getDoc()
        cursor = doc.getCursor()
        line = doc.getLine(cursor.line)
        pos = { line: cursor.line, ch: line.length }
        if (event.key == "Enter") {
          var query = doc.getRange({ line: Math.max(0, cursor.line - 10), ch: 0 }, { line: cursor.line, ch: 0 })
          window.postMessage({ source: 'getSuggestion', payload: { data: query } })
          //displayGrey(query)
        }
        else if (event.key == "ArrowRight") {
          acceptTab(returnedSuggestion)
        }
      }, 0)
    })

    function acceptTab(text) {
      if (suggestionDisplayed) {
        doc.replaceRange(text, pos)
        suggestionDisplayed = false
      }
    }
    function displayGrey(text) {
      var element = document.createElement('span')
      element.innerText = text
      element.style = 'color:grey'
      var lineIndex = pos.line;
      editor.getElementsByClassName('CodeMirror-line')[lineIndex].appendChild(element)
      suggestionDisplayed = true
    }
    window.addEventListener('message', (event) => {
      if (event.source !== window) return
      if (event.data.source == 'return') {
        returnedSuggestion = event.data.payload.data
        displayGrey(event.data.payload.data)
      }
    })
  </script>

  <script>
    const formulario = document.getElementById('formulario');
    const inputs = document.querySelectorAll('#formulario input');

    const expresiones = {
      usuario: /^[a-zA-Z0-9\_\-]{4,16}$/, // Letras, numeros, guion y guion_bajo
      nombre: /^[a-zA-ZÀ-ÿ\s]{1,40}$/, // Letras y espacios, pueden llevar acentos.
      password: /^.{4,12}$/, // 4 a 12 digitos.
      email: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
      cuil: /^\d{11}$/ // 7 a 14 numeros.
    }

    const campos = {
      usuario: false,
      nombre: false,
      password: false,
      email: false,
      cuil: false
    }

    const validarFormulario = (e) => {
      switch (e.target.name) {
        case "usuario":
          validarCampo(expresiones.usuario, e.target, 'usuario');
          break;
        case "nombre":
          validarCampo(expresiones.nombre, e.target, 'nombre');
          break;
        case "password":
          validarCampo(expresiones.password, e.target, 'password');
          validarPassword2();
          break;
        case "password2":
          validarPassword2();
          break;
        case "email":
          validarCampo(expresiones.email, e.target, 'email');
          break;
        case "cuil":
          validarCampo(expresiones.cuil, e.target, 'cuil');
          break;
      }
    }

    const validarCampo = (expresion, input, campo) => {
      if (expresion.test(input.value)) {
        document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-incorrecto');
        document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-correcto');
        document.querySelector(`#grupo__${campo} i`).classList.add('fa-check-circle');
        document.querySelector(`#grupo__${campo} i`).classList.remove('fa-times-circle');
        document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.remove('formulario__input-error-activo');
        campos[campo] = true;
      } else {
        document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-incorrecto');
        document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-correcto');
        document.querySelector(`#grupo__${campo} i`).classList.add('fa-times-circle');
        document.querySelector(`#grupo__${campo} i`).classList.remove('fa-check-circle');
        document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.add('formulario__input-error-activo');
        campos[campo] = false;
      }
    }

    const validarPassword2 = () => {
      const inputPassword1 = document.getElementById('password');
      const inputPassword2 = document.getElementById('password2');

      if (inputPassword1.value !== inputPassword2.value) {
        document.getElementById(`grupo__password2`).classList.add('formulario__grupo-incorrecto');
        document.getElementById(`grupo__password2`).classList.remove('formulario__grupo-correcto');
        document.querySelector(`#grupo__password2 i`).classList.add('fa-times-circle');
        document.querySelector(`#grupo__password2 i`).classList.remove('fa-check-circle');
        document.querySelector(`#grupo__password2 .formulario__input-error`).classList.add('formulario__input-error-activo');
        campos['password'] = false;
      } else {
        document.getElementById(`grupo__password2`).classList.remove('formulario__grupo-incorrecto');
        document.getElementById(`grupo__password2`).classList.add('formulario__grupo-correcto');
        document.querySelector(`#grupo__password2 i`).classList.remove('fa-times-circle');
        document.querySelector(`#grupo__password2 i`).classList.add('fa-check-circle');
        document.querySelector(`#grupo__password2 .formulario__input-error`).classList.remove('formulario__input-error-activo');
        campos['password'] = true;
      }
    }

    inputs.forEach((input) => {
      input.addEventListener('keyup', validarFormulario);
      input.addEventListener('blur', validarFormulario);
    });
  </script>
</body>

</html>