<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TributApp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=desarrolladorice-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/home.css?1.0}" media="all">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/List.css?1.0}" media="all">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/Navbar.css?1.0}" media="all">
        <link rel="stylesheet" type="text/css" th:href="@{/styles/Update.css?1.0}" media="all">
    </head>
    <body>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column p-3 sidebar" style="width: 240px;">
                <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">Panel de Admin</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a th:href="@{/desarrollador/lista}" class="nav-link active" aria-current="page"><i class="bi bi-code-slash"></i> Desarrolladores</a>
                    </li>
                    <li>
                        <a th:href="@{/empresa/listarEmpresa}" class="nav-link link-dark"><i class="bi bi-building"></i> Empresas</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark"><i class="bi bi-wallet-fill"></i> Contadores</a>
                    </li>

                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle mb-5" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>Admin</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#">Modificar mis datos</a></li>
                        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        
        
        <div class="container-fluid d-flex align-items-center justify-content-center fondo">
            <div class="container-form shadow-sm p-3 mb-5 rounded">

                <form th:action="@{/desarrollador/modificar/__${desarrollador.id}__}" method="POST" enctype="multipart/form-data">
                    <figure class="text-center">
                        <h3 class="text-white-50">Actualiza los datos del desarrollador</h3>
                    </figure>

                    <input hidden th:value="${id}" name="id">
                    <div class="mb-3">
                        <input th:value="${desarrollador.nombre}" type="text" class="form-control" name="nombre" placeholder="Nombre y apellido">

                    </div>
                    <div class="mb-3">
                        <input th:value="${desarrollador.email}" type="email" class="form-control" name="email" placeholder="Email">

                    </div>
                    <div class="mb-3">
                        <input  type="password" class="form-control" name="password" placeholder="Contraseña">

                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password2" placeholder="Repetir Contraseña">

                    </div>

                    <div class="mb-3">
                        <input th:value="${desarrollador.cuitCuil}" type="text" class="form-control" name="cuil" placeholder="Cuil">
                    </div>

                    <div class="mb-3 radio-boton">

                        <input type="radio" value="1" name="contratacion" id="free" checked="checked">
                        <label for="free" >Freelance</label>
                        <input type="radio" value="2" name="contratacion" id="depen">
                        <label for="depen" >Relacion de Dependencia</label>

                    </div>

                    <div class="mb-3">
                        <input type="file" class="form-control" placeholder="Foto" name="foto">
                    </div>

                    <div th:if="${Error != null}">
                        <p th:text="${Error}" style="font-size: medium; text-align: center; color:red;"></p>
                    </div>

                    <button class="btn btn-secondary blogin" type="submit">Registrar</button>
                </form>

            </div>
        </div>

</div>


        <script src="https://kit.fontawesome.com/b22605d384.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4a1445b54b.js" crossorigin="anonymous"></script>
    </body>
</html>